
.image img
{ width:272px;
  
  top: 60px;
  position: relative;
}
a 
{
text-decoration: none;
color: rgb(48, 47, 47);
font-family: sans-serif;
font-size: 15px;
}

#search
{
    background-image: url("search.png");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 7px;
    display: block;
    border: 1px solid rgb(211, 210, 210);
    outline:none;
    border-radius: 25px; /* the edges of the textbox will be curved */
    padding: 5px 8px 5px 35px;
    max-width:45%;
    min-width: 400px;
    height: 7%;
    margin: auto;
    font:13px arial,sans-serif;
    position: relative;
    top: 130px;
    
}
#search:hover
{
  box-shadow: 1px 1px 10px rgb(241, 240, 240), -1px -1px 10px rgb(241, 240, 240); 
  background-color:;
}

#search:focus
{
  box-shadow: none!important;
}
#search:target{
  background-color: brown!important;
}
.decorate input
{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  outline:none; 
  padding: 0px 16px;
  margin : 10px 5px;
  width:175x;
  height:35px;
  font: 13px, arial, sans-serif;
  text-align: center;
  cursor: pointer;
  position: relative;
  top : 150px;
 


  }
  .decorate input:hover
  {
    border: 1px solid rgb(211, 210, 210);
  }
  .footer{
    position: relative;
    top: 440px;
    background-color: rgb(231, 224, 224);
  }
  .country{
    padding: 10px 10px 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
  }
  .footer-content{
    padding: 10px 0 10px 0;
  }
  .footer-content a{ 
    padding:14px;
  }